.login {
	background: url('../assets/event.jpg');
	background-size: cover;
	.logo {
		width: 100%;
		text-align: center;
		img {
			max-width: 30%;
		}
	}
}
.big-home {
	.icon {
		font-size: 5rem;
	}
}