$red: #CB2403;
$darken: #981b02;
$green: #3c397f;
$blue: #35235D;
$pink: #af1d50;
$purple: #DB2464;


$orange: #dd9c1b;
$dark: #E8B143;

.eventos {
	.bar-eventos {
		@extend .bar-positive;
		&.bar-eventos-red ion-header-bar {
			background: $red;
		}
		&.bar-eventos-pink ion-header-bar {
			background: $pink;
		}
		&.bar-eventos-blue ion-header-bar {
			background: $blue;
		}
		&.bar-eventos-green ion-header-bar {
			background: $green;
		}
		&.bar-eventos-purple ion-header-bar {
			background: $purple;
		}
		&.bar-eventos-darken ion-header-bar {
			background: $darken;
		}
		&.bar-eventos-orange ion-header-bar {
			background: $orange;
		}
		&.bar-eventos-dark ion-header-bar {
			background: $dark;
		}
	}
	.item-divider {
		@extend .item-positive;
		border: 0;
		&.bar-eventos-red {
			background: $red;
		}
		&.bar-eventos-pink {
			background: $pink;
		}
		&.bar-eventos-blue {
			background: $blue;
		}
		&.bar-eventos-green {
			background: $green;
		}
		&.bar-eventos-purple {
			background: $purple;
		}
		&.bar-eventos-darken {
			background: $darken;
		}
		&.bar-eventos-orange {
			background: $orange;
		}
		&.bar-eventos-dark {
			background: $dark;
		}
	}
}

.col {
	img {
		max-width: 100%;
	}
}