.dashboard {
	.list-home {
		.row {
			vertical-align: top;
			.col {
				padding: 1rem;
				height: 8rem;
				.icon {
					font-size: 4rem;
				}
				font-size: .8rem;
				text-align: center;
				color: white;
				&.red {
					background: #CB2402;
				}
				&.reddark {
					background: darken(#CB2402, 10%);
				}
				&.blue {
					background: #35235D;
				}
				&.bluedark {
					background: darken(#4C49A2, 10%);
				}
				&.pink {
					background: #DB2464;
				}
				&.pinkdark {
					background: darken(#DB2464, 10%);
				}
				&.dark {
					background: #E8B143;
				}
				&.darken {
					background: darken(#E8B143, 10%);
				}
				&.purple {
					background: #A31A48;
				}
				&.orange {
					background: #E8B143;
				}
			}
		}

	}
	ion-side-menu-content {
		height: 100%;
		width: 100%;
		ion-list {
			height: 100%;
			display: block;
			.list {
				padding: 0 !important;
				height: 100%;
				.row {
					height: 25% !important;
					margin-top: 0 !important;
					.col {
						height: 100% !important;
					}
				}
			}
		}
	}
}