<ion-view view-title="Inicio" class="dashboard">
	<ion-header-bar class="bar-subheader bar-positive  item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="¿Tienes algo en mente?">
		</label>
		<button class="button button-clear">
			Buscar
		</button>
	</ion-header-bar>
	<ion-nav-buttons side="left">
		<button class="button button-clear button-icon ion-navicon" ng-click="vm.openMenu()"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-clear" ui-sref="app.evento.crear">Crear evento</button>
	</ion-nav-buttons>
	<ion-side-menus>
		<!-- Left menu -->
		<ion-side-menu side="left">
			<ion-content class="has-subheader">
				<ion-item class="item-thumbnail-left item-borderless">
					<img src="assets/default.png" alt="">
					<h2>{{ vm.user.name || vm.user.email }}</h2>
					<p>{{ vm.user.feeling || 'Sin perfilamiento aún' }}</p>
				</ion-item>
				<ion-item class="item-borderless" ui-sref="app.perfil.ver">
					Perfil
				</ion-item>
			</ion-content>
		</ion-side-menu>
		<ion-side-menu-content>
			<ion-content class="has-subheader" scroll="false">
				<ion-list class="list-home list-borderless row-no-padding">
					<div class="row row-no-padding">
						<div class="col col-50 red" ui-sref="app.eventos({id: 'recomendados'})">
							<i class="icon ion-star"></i><br>
							Recomendaciones
						</div>
						<div class="col col-50 darken" ui-sref="app.eventos({id: 'ver'})">
							<i class="icon ion-eye"></i><br>
							<span>Ver</span>
						</div>
					</div>
					<div class="row row-no-padding">
						<div class="col col-50 green" ui-sref="app.eventos({id: 'escuchar'})">
							<i class="icon ion-headphone"></i><br>
							Escuchar
						</div>
						<div class="col col-50 blue" ui-sref="app.eventos({id: 'apreciar'})">
							<i class="icon ion-image"></i><br>
							Apreciar
						</div>
					</div>
					<div class="row row-no-padding">
						<div class="col col-50 purple" ui-sref="app.eventos({id: 'moverme'})">
							<i class="icon ion-map"></i><br>
							Moverme
						</div>
						<div class="col col-50 pink" ui-sref="app.eventos({id: 'descubrir'})">
							<i class="icon ion-compass"></i><br>
							Descubrir
						</div>
					</div>
					<div class="row row-no-padding">
						<div class="col col-50 orange" ui-sref="app.eventos({id: 'comer'})">
							<i class="icon ion-pizza"></i><br>
							Comer
						</div>
						<div class="col col-50 dark" ui-sref="app.eventos({id: 'noche'})">
							<i class="icon ion-beer"></i><br>
							Vida nocturna
						</div>
					</div>
				</ion-list>
				<!--<ion-item ng-if="vm.canSpeech">
					<button class="button button-block button-positive" ng-click="vm.startRecognition()"><i class="icon ion-mic-c"></i> ¿Que quieres?</button>
				</ion-item>-->
			</ion-content>
		</ion-side-menu-content>
	</ion-side-menus>
</ion-view>